
.idea/inspectionProfiles/profiles_settings.xml
Automation/connection/__pycache__/azureConnection.cpython-37.pyc
*.xml
Automation/core/__pycache__/automationFunc.cpython-37.pyc
Automation/core/__pycache__/automationAux.cpython-37.pyc
.idea/workspace.xml
*.xml
Automation/connection/__pycache__/azureConnection.cpython-37.pyc
Automation/core/__pycache__/automationAux.cpython-37.pyc
Automation/core/__pycache__/automationFunc.cpython-37.pyc
modules/__pycache__/automationFunc.cpython-37.pyc
.idea/workspace.xml
Automation/__pycache__/automatizationCore_Azure.cpython-37.pyc
Automation/geckodriver.log
modules/__pycache__/automationAux.cpython-37.pyc
modules/__pycache__/automationFunc.cpython-37.pyc
modules/__pycache__/automationFunc.cpython-37.pyc.93508624
modules/__pycache__/azureConnection.cpython-37.pyc
modules/__pycache__/classes.cpython-37.pyc
.idea/workspace.xml
Automation/geckodriver.log
AutomationQA.spec
build/AutomationQA/Analysis-00.toc
build/AutomationQA/AutomationQA.exe.manifest
build/AutomationQA/base_library.zip
build/AutomationQA/EXE-00.toc
build/AutomationQA/PKG-00.pkg
build/AutomationQA/PKG-00.toc
build/AutomationQA/PYZ-00.pyz
build/AutomationQA/PYZ-00.toc
build/AutomationQA/Tree-00.toc
build/AutomationQA/Tree-01.toc
build/AutomationQA/warn-AutomationQA.txt
build/AutomationQA/xref-AutomationQA.html
dist/AutomationQA.exe
modules/__pycache__/automationAux.cpython-37.pyc
modules/__pycache__/automationFunc.cpython-37.pyc
modules/__pycache__/azureConnection.cpython-37.pyc
modules/__pycache__/automationAux.cpython-37.pyc
modules/__pycache__/automationFunc.cpython-37.pyc
modules/__pycache__/azureConnection.cpython-37.pyc
Automation/geckodriver.log
modules/__pycache__/__init__.cpython-37.pyc
modules/__pycache__/automationAux.cpython-37.pyc
modules/__pycache__/automationFunc.cpython-37.pyc
modules/__pycache__/automationFunc.cpython-37.pyc.100384400
modules/__pycache__/azureConnection.cpython-37.pyc
modules/__pycache__/__init__.cpython-37.pyc
modules/__pycache__/automationAux.cpython-37.pyc
modules/__pycache__/automationAux.cpython-37.pyc.79843072
modules/__pycache__/automationFunc.cpython-37.pyc
modules/__pycache__/azureConnection.cpython-37.pyc
modules/__pycache__/__init__.cpython-37.pyc
modules/__pycache__/automationAux.cpython-37.pyc
modules/__pycache__/automationFunc.cpython-37.pyc
modules/__pycache__/azureConnection.cpython-37.pyc
*.log
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
modules/__pycache__/azureConnection.cpython-37.pyc
modules/__pycache__/automationFunc.cpython-37.pyc
modules/__pycache__/automationAux.cpython-37.pyc
modules/__pycache__/__init__.cpython-37.pyc
modules/__pycache__/__init__.cpython-37.pyc
modules/__pycache__/automationAux.cpython-37.pyc
modules/__pycache__/automationFunc.cpython-37.pyc
modules/__pycache__/azureConnection.cpython-37.pyc
modules/__pycache__/__init__.cpython-37.pyc
modules/__pycache__/automationAux.cpython-37.pyc
modules/__pycache__/automationFunc.cpython-37.pyc
modules/__pycache__/azureConnection.cpython-37.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
modules/__pycache__/__init__.cpython-37.pyc
modules/__pycache__/automationAux.cpython-37.pyc
modules/__pycache__/automationFunc.cpython-37.pyc
modules/__pycache__/azureConnection.cpython-37.pyc
Automation/drivers/fp_mozilla_F1E.cfg
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
Automation/drivers/defaults/pref/!.js
modules/__pycache__/__init__.cpython-37.pyc
modules/__pycache__/automationAux.cpython-37.pyc
modules/__pycache__/automationFunc.cpython-37.pyc
modules/__pycache__/azureConnection.cpython-37.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
